---
title: Caty -- Bloggy
layout: layout
---

%h1 Posts
%ul#posts
  - site.posts.each do |post|
    %li
      %span.meta= post.date.strftime('%F')
      %a.link{ :href => post.url, :title => post.title }= post.title

