!green = #071
!lightgreen = #5b6
!white = #fff

body, html
  :margin 0
  :padding 0
  :background-color= !white
  :font-family monospace

a
  :color= !green
  :text-decoration none

  &:visited
    :color= !lightgreen
  &:hover
    :text-decoration underline

img
  :border none

#header

  #logo
    :width 700px
    :text-align center
    :margin auto

    #title
      :color= !green
      :font-size 2.5em

  #menu
    :text-align center
    :background-color= !green
    :border
      :top= 4px "solid" !lightgreen
      :bottom= 4px "solid" !lightgreen

    a
      :color= !white
      :padding 5px
      :font-size 1.25em
      :font-weight bold

      &:hover
        :background-color= !lightgreen
        :text-decoration none

    a.important

#content
  :margin 30px

#footer
  :border-top= 4px "solid" !green

  .copyleft
    :float right
    :margin 10px

    .strong
      :font-weight bold

