!!! XML
!!! Strict
%html{html_attrs}

  %head
    %title= page.title
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/static/styles.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/static/syntax.css' }

  %body

    #header
      #logo
        %a{ :href => '/', :title => 'Go to the topmost page' }
          %img{ :src => '/static/caty.png', :title => "Caty's logo: The word `Caty' with a stylized cat eye in the C" }
      #menu
        %a{ :href => '/blog', :title => 'View the blog posts about Caty' } Blog
        %a.important{ :href => '/presentation', :title => 'Download the presentation -- the quickest way to get to know Caty' } Presentation
        %a{ :href => '/kitty', :title => 'View the Kitty demo application' } kitty.rb

    #content= content

    #footer
      .copyleft
        (c) 2009 by karottenreibe [
        %span.uiae _(ä)t_ gmail
        _d(ö)t_ com]
        %br/
        Licensed under the
        %a{ :title => 'The license of the stuff on this webpage, except where otherwise specified', :href => '/static/LICENSE.txt' }
          DON'T PANIC License 1.1
